/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  
  
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  
}




a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #ff3333;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #cc3333;
}


tr{

align-items: center;

}


td{
  color: white;
  background-color: #222222;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 10px;
  padding: 15px 80px;
 



}



.input-text{
  color: #222222;
  padding-top: 10px;

}

.input-submit{

  padding-top: 10px;
}


.ticket-name{
  color: white;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 45px 40px;
  width: 120px;
  text-align: center; 
  
}

.ticket-amount{
  color: white;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px 40px;
  width: 120px;
  text-align: center; 
}

.ticket-price{
  color: white;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px 40px;
  width: 120px;
  text-align: center; 

}

.ticket-description{
  color: white;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px 40px;
  width: 120px;
  text-align: center; 

}

.ticket-show{

  color: white;
  background-color: #222222;
  border-color: #222222;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 50px 30px;
  width: 120px;
  text-align: center; 
}


.page-btn{
  color: white;
  background-color: #ff3333;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  margin-right: 10px;

}

.page-btn:hover,
.page-btn:focus,
.page-btn:active,
.page-btn.active 
.open .dropdown-toggle.page-btn {
  color: white;
  background-color: #cc3333;
  border-color: #cc3333;
  
}


.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #cc3333;
  
  font-family: 'Bungee', "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  
}



.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #ff3333;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.05);
}
.navbar-custom .navbar-toggle {
  background-color: #ff3333;
  border-color: #ff3333;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ff3333;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #ff3333;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #ff3333;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ff3333;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: #222222;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

